@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #011044;
  --primary: #011044;
  --secondary: #008080;
  --neutral: #36454f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
